.App{
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	font-size: large;
	color: rgb(10, 10, 10);
	
}
.App-content-wraper{
	flex: 1 1 0%;
	background-color: #f0f3f5;
	max-width: 1000px;
	width: 100%;
	margin: 0 auto;
}
.navbar-wrapper {
	display: flex;
	justify-content: space-between ;
	
	background-color:#808080 ;
	color: #FFF;
	font-size: large;
	width: 100%;
	margin: 0 auto;
	margin-bottom: 10px;
}
.navbar-wrapper div{
	flex: 1 1 130px;
	display: flex;
	margin: 5px;
}
.navbar-wrapper .navbar-icon{
	flex: 40px;
	justify-self: flex-end;
}
.navbar-wrapper .navbar-item-name{
	flex:200px;
	padding-left: 10px;
}
.tasks-list-wrapper{
  min-height: 200px;
}

.create-task-wrapper{
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 10px;
}

.header-icon-archive{
	opacity: 0,5;
	background-color: black;
}
.create-task-btn{
	display: flex;
	margin-bottom: 10px;
	justify-content: flex-end;
}

