.task-item-wrapper{
    width: 100%;
     display: flex;
       justify-content: space-between;
       align-items: center;
       min-height: 30px;
       background-color: #dcdcdc;
       margin-bottom: 10px;
   }